.navHeader {
    background-color: #1C2B35;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding-left: 140px;
    padding-right: 140px;

}

.navHeader a {
    color: #FFFF;
    text-decoration: none;
    margin-left: 30px;
}

.navHeader a:hover {
    color: orange;
}